---
title: ValidationReport
---

# Type Alias: ValidationReport

```ts
type ValidationReport = object;
```

Defined in: packages/core/src/validation.ts:50

## Properties

### issues

```ts
issues: ValidationIssue[];
```

Defined in: packages/core/src/validation.ts:51

***

### summary

```ts
summary: object;
```

Defined in: packages/core/src/validation.ts:52

#### errors

```ts
errors: number;
```

#### infos

```ts
infos: number;
```

#### warnings

```ts
warnings: number;
```
